td.Section { color: white !important; }

/* Home */
p#tt-do-more-promo-blurb { background-color: #0F0F0F !important; }
li.act-item:hover { background-color: #0F0F0F !important; }
#activity-settings { background-color: #0F0F0F !important; }
.tt-stats-list a { color: white !important; }
h4.main a { color: white !important; }
#y-stats { background-color: #0F0F0F !important; }
.launchHead>tbody>tr>td { color: white; }
.tt-link-active { color: gray !important; }

/* Sets Column */
td.SetsColumn { background-color: #0F0F0F !important; }
p.Focus { background-color: #0F0F0F !important; }
p#TagCloud { background-color: #0F0F0F !important; }

/* Button bar at top */
li.menu_li, li.no_menu_li, li>span { border-color: #0F0F0F !important; }
#TopBar > table { border-color: #0F0F0F !important; }
div#SSButtonHugger > span > a, em[data-ywa-name] { border-color: #0F0F0F !important; }
#ShareMenu { background-color: #999 !important; border-color: #999 !important;}

/* Photo Page Stuff */
h3.contextTitleOpen, h3.contextTitleClosed { border-color: #0F0F0F !important; }
ul#ShareOptions li { background-color: #0F0F0F !important; }
div.sharing_options_header_open { color: white !important; }
[id^='photo_gne_button'] { background-color: black !important; border-color: #0F0F0F !important; }
#global_modal_blocker { background-color: #0F0F0F !important; }
.contextInfo, .nextprev_contextThumbsDiv, .contextCrumbsDiv, img.fs-context_crap { background-color: black !important; }
img.fs-context_crap[src$='spaceout.gif'] { background-image: none !important; }
td.context_crap_td { border-left: solid 1px white; border-bottom: solid 1px white; background-image: none !important; }

/* This is to make description/titles legible when on own page... */
[title='Click to edit']:hover { -webkit-transition: color 0s; color: black !important; background-color: gray !important; }
[title='Click to edit'] { color: white !important; background-color: black !important; -webkit-transition: background-color,color 1.5s,1.5s; }
textarea[name='content'], input[name='content'] { background-color: #DDDDDD !important; }
p { color: white !important; }
#notes_text_span { color: black !important; }

/*Search */
#SearchFormStrip { background-image: none !important; }
.pivot_grouping { background-color: #0F0F0F !important; }
.pivot_grouping a, .pivot_grouping h3 { color: white !important ; }
.pivot_grouping_hover a { color: #0063DC !important; }
.pivot_grouping_hover a:hover { color: white !important; }
.SortOptions { color: white !important; }

/* Archives */
table.YearListing td, .Separated>tbody>tr>td { color: white !important; }

/* Popular */
table.PopularPic h4 { color: white !important; }
.Tab { color: #FF0084 !important; }

/* Apps */
#ag-user-promo { background-color: #0F0F0F !important; }
div[style*='background: #f3f3f3'] { background-color: #111111 !important; }
div[style*='background: #ffffff'] { background-color: #222222 !important; }

/* Profile */
#manage { background-color: #0F0F0F !important; }
.profile-section h3 { color: white !important; }
#Edit .Stats .Label { color: #999999; }
#Edit .Stats td:not(.Label) { color: white; }

/* Explore Stuff */
.faq, .intro_text, .try_a_search { background-color: #0F0F0F !important; }
#TopBar, #FooterWrapper { background-color: black !important; }
label[for='exploreMapSearch'] { color: black !important; }

/* Commons */
.tc_intro { background-color: #0F0F0F !important; }

/* Group listing */
div.Editorial td { color: white !important; }
td.EachGroup { color: white !important; }
td.OtherBits { color: white !important; }
ul[id$='_ul'] { color: white !important; }

/* Contact list */
td[class^='contact-list'] { color: white !important; background-color: transparent !important; }
th[class$='contact-list-sorted'] a { color: #555555 !important; }
div.contact-list-header { background-color: #0F0F0F !important; }
div.InvitePreview { background-color: #0F0F0F !important; }

/* Photostream // This was breaking send to groups/add to sets text :(
td { color: white !important; }
*/
/* Add as contact */
#contactChangerContainer .hd, #contactChangerContainer label { color: black !important; }
#contactChangerContainer .contactChangerFootnote > p { color: #8D8D8D !important; }
#contactChangerInfoDetails > p { color: #8D8D8D !important }

/* This is for group front pages */
table.TopicListing td[style*='text-align: center'] { color: white !important; }
#addInfo { color: white; }
#group-info td>p { color: white !important; }
div.Preview { color: white !important; background-color: #0F0F0F !important; }
.Here { color: white !important; }
.paginator > *{ background-color: black ! important; color: white ; }
.comment-content { color: white ! important; }
*[id^='title'], *[id^='desc'] { color: white ! important; }
td[valign='top'], td.Said > h4 ~ p { color: white !important; }
div[id^='description_div'] { background-color: black !important; }
.SeeAll { color: white !important; }

/* Stats */
.name > a { color: #AAA !important; }
.name > a:hover { color: #0063DC !important; }
.even td, .odd td { background-color: inherit !important;}
.even { background-color: #0F0F0F !important; }
.odd>th { background-color: inherit !important; }
.views, #refs td, #breakdown td { color: #888 !important; background-color: inherit; }
[id^='bubb-'] { color: black !important; }
.yesterday > div > a, .alltime>div>a, .yesterday h3, .alltime h3 { color: #AAAAAA !important; }
.yesterday > div > a:hover, .alltime>div>a:hover { color: white !important; background-color: #0063DC !important; }
#snapshot td { color: inherit; background-color: inherit !important; }
#snapshot td:hover, #snapshot th:hover { color: black; background-color: inherit !important; }
#snapshot .odd:hover, .even:hover { background-color: #FFFFD1 !important; color: black; }
.even:hover, .odd:hover { background-color: #222222 !important; }
.num { background-color: transparent !important; }
.domains-holder a { color: #AAAAAA !important; }
.domains-holder a:hover { color: #0063DC !important; }
#main > .title  td { color: white !important; }
#main > .title  td:hover { background-color: inherit !important; }
#main > .title td span { color: #AAAAAA !important; }
#viewsummary table td { color: silver !important; }
#main table.title td { color: silver !important; }
#main table.title h1 span { color: #555555 !important; }

/* Camera */
#cfModel th, #cfModel td { color: white !important; }
.over > td { color: black !important; }

/* People */
#Main > .context { background-color: #0F0F0F; }

/* Sets */
#gray_set_button_bar { background-image: none !important; }

/* collections column */
.CollectionsColumn { background-color: #222!important; }

/* Search Page */
#SearchFormStrip { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), to(#212121)) !important; /* background-image: none; */ }
.search-refinements div.refinement { color: #111; }
.search-refinements { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), to(#212121), color-stop(.2,#777),color-stop(.8,#5E5E5E)) !important; }

/* Organizer */
.top_form_tip_txt, .tree_coll_title_div, #collections_instructions_top_p { color: black !important; }

/* Uploadr */
#uploadr, #upload-container, #uploadr-list, .foot, .batch-operations .tags, .batch-sets { background-color: #0F0F0F !important; }
.photo_title > input, .photo_description > textarea { color: black !important; }
.uploading { color: black !important; }
label[for^='license'] { color: white !important; }
div[id^='upload-total'] { color: white !important; }
p.ReadThis { color: black !important; }

/* Add to Group */
[id$='DialogListDiv'] td { background-color: transparent !important; /*color: #0063DC !important;*/ }
[id$='DialogHeaderDiv'] { color: black !important; }
.td_white { color: black; background-color: white !important; }
.shadow_table { display: none; }

/* fixing icons where possible */
a[href='/mail/'], a[href='/cart/'] { background-color: transparent !important; }
.act-content, h2 { color: white !important; }

/* API pages */
pre { background-color: #0F0F0F; }
#Explorer td { color: white; }

/* Profile Pages */
.ThinCase td, #GoodStuff, #GoodStuff td, .acct-sett td, .acct-sett th { color: white !important; }
.acct-sett th { color: #888888 !important; }
#GoodStuff textarea { color: black !important; }
#GoodStuff .Highlight { background-color: #777777; }
.linkout { background-color: red !important; }
.linkhover { background-color: #0F0F0F !important; }
#GoodStuff #Inbox[bgcolor] { background-color: #222222; }

/* Group discussions */
.taglist td { background-color: #888888 !important; }
.staffPost h4, .staffPost td.Said > p { color: white !important; }
/*tr.staffPost td { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#444), color-stop(0.85, #444), color-stop(0.95, #222) ) !important; }
 */
tr.staffPost td { background-color: #222 !important; }
.staffPost td { border-bottom-color: #444 !important; }


/* Messaging */
td.Reply > p { color: black !important; }

/* Change privacy settings */
.privacyDetails p label, .privacyDetails blockquote > label { color: silver !important; }

/* Stuff for Multi Group Sender */
.mg-ingroup { color: white !important; border: dotted 1px #444444 !important; }
.mg-group { color: #0063DC !important; border: dotted 1px #444444 !important; }
.mg-group:hover { color: white !important; }

#mgTable { border: solid 1px #444444; }

.mgHeader { color: black !important; background-color: #777777; font-weight: bold; border-bottom: solid 2px gray; }
.mgHeader { color: #222222 !important; text-shadow: 0px 1px 1px #888888; }

/* Mail */
.fromto { color: #999 !important; }
.username { color: #999 !important; }
