body {
	font-family: Lucida Sans Unicode, Lucida Grande, Lucida Sans, Lucida;
    background-color: #AAAAAA;
    /*
    background: -webkit-gradient( linear, right top, left top, from(#000000), to(#AAA), color-stop(.5, #000000));
    */
}

.linear {
    background: -webkit-gradient( linear, left top, right top, from(#000000), to(#AAA));
}

#preview {
    position: relative;
    visibility: hidden;
    opacity: 0;
    float: left;
    top: 0px;
    margin-left: 50px;
    -webkit-transition-property: opacity, visibility;
	-webkit-transition-duration: 500ms;
	display: block;
}

.ecOpt, .briOpt, .moveOpt{
	cursor: pointer;
	font-size: 1em;
}

.ecOpt > input , briOpt > input, moveOpt > input {
	cursor: pointer;
}

#pre_fg {
    border: solid 1px gray;
    position: absolute;
    left: 28px;
    top: 23px;
}

.fgShadow {
    border: 3px solid red;
    -webkit-box-shadow: 10px 10px 30px #000;
}

.fgCorners {
    -webkit-border-radius: 10px;
}
