.responseDiv {
	-webkit-transition: 250ms;
	-webkit-transform-origin: 0 0;
	position: absolute;
	-webkit-transform: scaleY(0);
	padding-bottom: 10px;
	display: inline;
	color: #999;
}

div.responseDiv a {
	text-decoration: none;
    text-decoration: underline;
}

/* body { background-color: red; } */

#qDiv { background-color: whiteSmoke;
    padding: 5px; 
    -webkit-border-radius: 5px;
    border: solid 1px #BEBEBE;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whiteSmoke), to(#DDD) );
}


.qButton { background-color: #0063DC;
    padding: 5px;
    text-align: center;
    vertical-align: text-bottom;
    height: 30px;
    -webkit-box-align: center;
    -webkit-border-radius: 4px;
    color: white;
}

.qButton:hover { background-color: #0054BD; cursor: pointer; }
